{% extends "base.html" %}

{% block content %}
<body style="background-image: url({{ STATIC_URL }}img/slide.png)">

	<!--start: Header -->
	<header>

		<!--start: Container -->
		<div class="container">

			<!--start: Row -->
			<div class="row">

				<!--start: Logo -->
				<div class="logo span3">

					<a class="brand" href="index.html"><img src="{{ STATIC_URL }}img/logo.png"></a>

				</div>
				<!--end: Logo -->

				<!--start: Navigation -->
				<div class="span9">

					<div class="navbar navbar-inverse">
			    		<div class="navbar-inner">
			        		<div class="container">
			          			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            			<span class="icon-bar"></span>
			            			<span class="icon-bar"></span>
			            			<span class="icon-bar"></span>
			          			</a>
			            			<div class="nav-collapse collapse">
			            			<ul class="nav">
			            			<li><a href="{% url "home" %}">Home</a></li>
									<li><a href="{% url "services" %}">Services</a></li>
			              			<li><a href="{% url "pricing" %}">Pricing</a></li>
			              			<li class="active"><a href="{% url "about" %}">About Us</a></li>
				              		<li><a href="accounts/register">Sign Up</a></li>
                            		<li><a href="{% url "login" %}">log In</a></li>
			            			</ul>
			          			</div>
			        		</div>
			      		</div>
			    	</div>

				</div>
				<!--end: Navigation -->

			</div>
			<!--end: Row -->

		</div>
		<!--end: Container-->

	</header>
	<!--end: Header-->

	<!-- start: Team -->
	<div class="team-parlex">
        <div class="team">
            <h1>Meet Our Team</h1>
            <p class="team-text-para">I figured it out I figured it out from black and white Seconds and hours Maybe they had to take some time I know how it goes.</p>
        </div>
        <div class="row">
            <div class="span4 offset1">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image1.png" alt="52dd1e57e64ce6cb200004f3_image1.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Harry Potter</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image2.png" alt="52dd1edfe64ce6cb200004fb_image2.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Ron Weasley</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Hermione Granger</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Albus Dumbledore</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4 offset1">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Minerva McGonagall</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Severus Snape</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Draco Malfoy</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Sirius Black</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4 offset2">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Lord Voldemort</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Death Eater</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="span4">
              <div class="team-section">
                <div class="team-image">
                  <img class="team-img" src="{{ STATIC_URL }}img/team/image3.png" alt="52dd1efcad165eca20000539_image3.png">
                </div>
                <div class="team-des">
                  <h4 class="team-name">Bellatrix Lestrange</h4>
                  <div class="team-name-des">Graphic Designer</div>
                </div>
                <div class="team-social">
                  <div class="w-clearfix social-section">
                    <a href="https://www.facebook.com/"><img class="social" src="{{ STATIC_URL }}img/social/Facebook.png" alt="52dd249c929b601f5400054c_Facebook.png"></a>
                    <a href="https://www.twitter.com/"><img class="social" src="{{ STATIC_URL }}img/social/Twitter.png" alt="52dd24f2929b601f54000551_Twitter.png"></a>
                    <a href="https://www.linkedin.com/"><img class="social" src="{{ STATIC_URL }}img/social/Linkedin.png" alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                    <a href="https://plus.google.com/"><img class="social" src="{{ STATIC_URL }}img/social/Google-plus.png" alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                    <a href="https://www.rss.com/"><img class="social" src="{{ STATIC_URL }}img/social/RSS.png" alt="52dd26d25b54031d540005b4_RSS.png"></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!-- end: Team -->

  <!-- start: Map -->
  <div>

    <!-- starts: Google Maps -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <div id="googlemaps-container-top"></div>
    <div id="googlemaps" class="google-map google-map-full"></div>
    <div id="googlemaps-container-bottom"></div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ STATIC_URL }}js/jquery.gmap.min.js"></script>
    <script type="text/javascript">
      $('#googlemaps').gMap({
        maptype: 'ROADMAP',
        scrollwheel: false,
        zoom: 13,
        markers: [
          {
            address: 'Alexandria, Egypt',
            html: '',
            popup: false,
          }

        ],

      });
    </script>
    <!-- end: Google Maps -->
  </div>
  <!-- end: Map -->

  <!-- start: contact -->
<div class="bg-content">
      <!-- content -->
      <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span8">
              <h3>Get In Touch</h3>
              <div class="inner-1">
            <form id="contact-form">
                  <div class="success"> Your message has been sent succesfuly!<strong> We will be in touch soon.</strong> </div>
                  <fieldset>
                <div>
                    <label class="name">
                    <input type="text" value="Your name">
                  <br>
                    <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                  <div>
                    <label class="phone">
                    <input type="tel" value="Phone">
                    <br>
                    <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                <div>
                    <label class="email">
                    <input type="email" value="E-mail Address">
                    <br>
                    <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                <div>
                    <label class="message">
                    <textarea>Message</textarea>
                    <br>
                    <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
                    </div>
                <div class="buttons-wrapper"> <a class="btn btn-1" data-type="reset">Clear</a> <a class="btn btn-1" data-type="submit">Send</a></div>
              </fieldset>
                </form>
          </div>
            </article>
        <article class="span4">
              <center><h3>Contact info</h3></center>
      <div class="overflow">
                <strong>Uaerus ERP Inc.<br>
                <center>158 Borsaid Street, Al Azareeta<br>
                Alexandria, Egypt</strong><br><br>
                <strong>Mobile:</strong>+201225564923<br>
                <strong>Telephone:</strong>4850576<br>
                <strong>Fax:</strong>4850576<br>
                <strong>E-mail:</strong> <a href="#" class="mail-1">uaerus@gmail.com</a><br>
        </article>
      </div>
        </div>
  </div>
    </div>

	<!-- start: Footer -->
	<div id="footer">

		<!-- start: Container -->
		<div class="container">

			<!-- start: grid -->
			<div class="grid_6 prefix_3">

				<!-- start: footer logo -->
				<div class="f-logo">
					<a href="index.html"><img src="{{ STATIC_URL }}img/f-logo.png" alt="logo"></a>
					<p>Your Trusting ERP</p>
				</div>
				<!-- end: footer logo -->

				<!-- start: Follow Us -->
				<ul class="social-grid">
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-twitter">
										<a href="http://twitter.com"></a>
									</div>
									<div class="social-info-back social-twitter-hover">
										<a href="http://twitter.com"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-facebook">
										<a href="http://facebook.com"></a>
									</div>
									<div class="social-info-back social-facebook-hover">
										<a href="http://facebook.com"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-dribbble">
										<a href="http://dribbble.com"></a>
									</div>
									<div class="social-info-back social-dribbble-hover">
										<a href="http://dribbble.com"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="social-item">
							<div class="social-info-wrap">
								<div class="social-info">
									<div class="social-info-front social-flickr">
										<a href="http://flickr.com"></a>
									</div>
									<div class="social-info-back social-flickr-hover">
										<a href="http://flickr.com"></a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<!-- end: Follow Us -->

				<!-- start: Copyright -->
				<div id="copyright">

					<!-- start: Container -->
					<div class="container">

						<p>
							&copy; 2014 Uraeus. <a href="#" alt="Privacy Policy">Privacy Policy</a>
						</p>

					</div>
					<!-- end: Container  -->

				</div>
				<!-- end: Copyright -->

			</div>
			<!-- end: Grid -->

		</div>
		<!-- end: Container  -->

	</div>
	<!-- end: Footer -->

<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/jquery-1.8.2.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/flexslider.js"></script>
<script src="{{ STATIC_URL }}js/carousel.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cslider.js"></script>
<script src="{{ STATIC_URL }}js/slider.js"></script>
<script def src="{{ STATIC_URL }}js/custom.js"></script>
<script src="{{ STATIC_URL }}js/forms2.js"></script>
<!-- end: Java Script -->

</body>
</html>


{% endblock %}