<!DOCTYPE html>
<html lang="en">
<head>
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Uraeus ERP | Your Trusting ERP</title>
	<meta name="description" content="Uraeus an erp system"/>
	<meta name="keywords" content="erp, system, business, control, cloud, enhance, rent, rental" />
	<meta name="author" content="Uraeus team"/>
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<!-- end: Facebook Open Graph -->

	<!-- start: favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}img/icons/favicons/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}/img/icons/favicons/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/icons/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/icons/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/icons/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/icons/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<!-- end favicon -->

    <!-- start: CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
	<!-- end: CSS -->
</head>

{% block content %}

{% endblock %}


