{% extends 'base.html' %}


{% block wel_message %}
<div class="page-header">
        <h1>Welcome to Codename<small> Small </small></h1>
    </div>
{% endblock %}


{% block content %}
    <h2>Client Plan</h2>
    <div class="bs-example">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>EXpirationDate</th>
          <th>Module</th>
          <th>Registration Plan</th>
          <th>USER</th>
        </tr>
      </thead>
      <tbody>
          {% for client in object_list %}
        <tr>
          <td>{{ client.id }}</td>
          <td>{{ client.registration_date }}</td>
          <td>{{ client.registration_expirationDate }}</td>
          <td>{{ client.module }}</td>
          <td>{{ client.registration_plan }}</td>
          <td>{{ client.user }}</td>
          <td><a href="{% url "client_plan_update" client.id %}">update</a></td>
          <td><a href="{% url "client_plan_delete" client.id %}">delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url "client_plan_create" %}">ADD</a>
  </div>
{% endblock %}
